:root{
    --color1: #2b56c9;
    --color2: #d996d6;
    --color3: #d46aac;
    --color4:  #e2dda5;
    --blueLigth: #7e9beb;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Preahvihear', sans-serif;
    font-size:1rem ;

}

main{
    height: 100vh;
}


.bg-color1 {background-color:var(--color1);}
.textColor1{color: var(--color4)}

.bg-color2 {background-color:var(--color3);}



.bg-color3{background-color:var(--color4);}
.textColor2{color: var(--color1);}

.bg-bluelight{
    background-color: var(--blueLigth);
}
.textcolor-light{
    color: var(--blueLigth);
}

.btn1{
background-color: var(--color1);
color: var(--color4) ;
}

.btn1:hover{
    background-color: var(--color2);
    color: var(--color1);
}

.btn2{
    background-color: var(--color1);
    color: var(--color4);
}

.btn2:hover{
background-color: #7e9beb;
color: var(--color4);
}

option:hover{
    background-color: var(--color2);
}

.toggle-turn{
    display: none;
}


.displayNone{
    display: none;
}

.player1Figure{
    
    width: 100px;
    height: 100px;
    background-color: var(--color4);
}

.board{
    gap: .3rem;
}

.space{
    width: 5em;
    height: 5em;
    background-color: rgb(136, 205, 248);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.player1bg{
    background-image: url(/TicTacToe/img/dog.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.player2bg{
    background-image: url(/TicTacToe/img/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.notAvailable{
    background-color: #850b56;

}
.space:hover{
    background-color: rgb(135, 135, 233);
}

@media (min-width: 576px) { 

    .board{
    width:25.25rem ;
    gap: .3em;
}
    .space{
        width:7rem;
        height:7rem;
    }
 }

@media (min-width: 768px) {
  
 }


@media (min-width: 992px) { }

@media (min-width: 1200px) {  }


@media (min-width: 1400px) { }